/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block: 100px;
  font-family: var(--main-font, sans-serif);
  color: var(--accent-color);
  font-variation-settings: "wght" var(--main-font-weight, 400);
  background-size: cover;
  background-color: var(--background-color);
  background-image: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px), repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px), repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a);
}

.header {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 23px;
  width: clamp(375px, 48.7%, 700px);
  margin-inline: auto;
  margin-block-end: 100px;
  padding-block-start: clamp(120px, 9.45vw, 150px);
  padding-block-end: 21px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
}

.header-logo {
  display: grid;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.header-logo-title {
  font-size: clamp(49px, 4.0625rem, 6vw);
  text-decoration: none;
}

.header-logo-title:focus {
  outline: none;
}

.header-logo-subtitle {
  text-transform: uppercase;
  font-size: clamp(14px, 1.4375rem, 2.1vw);
}

.main {
  display: grid;
  gap: 50px;
  width: clamp(375px, 48.7%, 700px);
  margin: auto;  
}

.posts-list {
  display: grid;
  gap: 54px;
}

.post {
  display: grid;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.post-title {
  padding: 5px 10px;
  font-variation-settings: "wght" var(--bold-font-weight, 700);
  font-size: 18px;
}

.post-image-section {
  display: grid;
  overflow: hidden;
  border: 2px solid var(--accent-color);
}

.post-image {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.post:nth-child(2) .post-image {
  filter: saturate(0.2);
}

.post:nth-child(3) .post-image {
  filter: saturate(3.5);
}

.post:nth-child(4) .post-image {
  filter: hue-rotate(30deg);
}

.post:nth-child(5) .post-image {
  filter: invert(0.8);
}

.post:nth-child(6) .post-image {
  filter: sepia(0.9);
}

.post:nth-child(7) .post-image {
  filter: blur(10px);
}

.post:nth-child(8) .post-image {
  filter: hue-rotate(90deg) blur(2px) opacity(0.7) brightness(0.6);
}

.watermark {
  position: absolute;
  justify-self: end;
  margin-block-start: 25px;
  margin-inline-end: 25px;
  color: var(--main-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--main-font-weight, 400);
  text-shadow: 0 0 1px var(--backgroud-color);
  filter: opacity(0.5);
  mix-blend-mode: hard-light;
  z-index: 1;
}

@supports ((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke:  1px var(--backdround-color))) {
  .watermark {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

