/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter";
  --accent-font: "PressStart2P";
  --main-font-weight: 400;
  --bold-font-weight: 700;
  --background-color: white;
  --accent-color: black;
  --heart-color: #FF0000;
}